---
import { languages } from "../i18n/ui";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url) ?? "";
const [, , ...rest] = Astro.url.pathname.split("/");
const restString = rest.join('/');

---

<div class="grid grid-cols-2 gap-x-4" id="lng-selector">
  {
    Object.keys(languages).map((lang) => {
      return (
       <a href={`/${lang}`} class="anim-underline"
          onclick={`event.preventDefault(); localStorage.setItem('language', '${lang}'); window.location.href='/${lang}/${restString}';`}>
          {lang}
        </a>
      );
    })
  }
</div>

