---
import { getCollection, getEntry } from "astro:content";
import { languages } from "../../../i18n/ui";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import Prose from "../../../components/Prose.astro";
import BlogLayout from "../../../layouts/BlogLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  let arr = [];

  for (const lang of Object.keys(languages)) {
    for (const post of posts) {
      arr.push({ params: { lang, slug: post.slug.split("/")[1] } });
    }
  }
  return arr;
}
const slug = Astro.params.slug;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const post = await getEntry("blog", `${lang}/${slug}`);
if (!post) {
  return new Response(null, { status: 404 });
}
const { Content } = await post.render();

const constructDate = (dateString: string): string => {
  const date = new Date(dateString);
  const options: Intl.DateTimeFormatOptions = {
    year: "numeric",
    month: "long",
    day: "numeric",
    weekday: "long",
  };
  return date.toLocaleDateString(lang, options);
};
---

<BlogLayout title={post.data.title}>
  <div class="min-h-lvh">
    <Header />
    <main class="container m-auto">
      <h1 class="text-4xl">~/{post.data.title}</h1>
      <p class="text-sm text-gray-500 dark:text-gray-400 mb-8">
        {constructDate(post.data.date)}
      </p>
      <h2 class="text-3xl font-black">{t("blog.toc")}</h2>
      <Prose>
        <Content />
      </Prose>
    </main>
  </div>
  <Footer />
</BlogLayout>
